*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

.hero{
height:100vh;
background:url("https://i.pinimg.com/736x/34/4c/3f/344c3f5d60ac5acffc8727275bede90a.jpg")
center/cover no-repeat;
position:relative;
color:white;
}

.hero::before{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.55);
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:relative;
z-index:2;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:2;
}

.hero-content h1{
font-size:4rem;
margin-bottom:20px;
}

.hero-content p{
font-size:1.2rem;
margin-bottom:25px;
}

.btn{
background:#ffb703;
padding:12px 30px;
border-radius:30px;
text-decoration:none;
color:black;
font-weight:600;
}

.section{
padding:80px 8%;
}

.section h2{
text-align:center;
font-size:2.5rem;
margin-bottom:50px;
}

.dark{
background:#0f172a;
color:white;
}

.card-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card{
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
transition:0.4s;
}

.dark .card{
background:#1e293b;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3{
padding:15px;
}

.card p{
padding:0 15px 20px;
}

.timeline{
max-width:900px;
margin:auto;
}

.timeline-item{
border-left:4px solid #ffb703;
padding:20px;
margin:25px 0;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery img{
width:100%;
height:250px;
object-fit:cover;
border-radius:12px;
transition:0.4s;
}

.gallery img:hover{
transform:scale(1.05);
}

footer{
background:black;
color:white;
text-align:center;
padding:30px;
font-family: sans-serif;
}

@media(max-width:768px){

.hero-content h1{
font-size:2.5rem;
}

nav{
flex-direction:column;
gap:15px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

}